.sessionPageMainBody{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 90% 10%;
    background-color: #f5f6fa;
    font-family:"Arial Rounded MT Bold";
}
.session_page_main_body{
    overflow: scroll;
    display: grid;
    grid-template-rows: 50% 50%;
}

.player_container{
    width: 100%;
    height: 90%;
    padding-top: 10px;
    /*padding-bottom: 2%;*/
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #40739e;
}
.questionsContainer{
    width: 100%;
    height: 90%;
    overflow: scroll;
    color: white;
}
.videoPlayer{
    border-radius: 50px;
}

.session_page_answers{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.session_page_answer_video{
    display: grid;
    grid-template-rows: 60% 40%;
}
.videoRecordPlayerContainer{
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.recordPayer{
    width: 50%;
    margin-left: 25%;
    border-radius: 20px;
}
.session_page_record_button_container{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
}
.session_page_recording_status{
    padding-left: 15px;
    padding-top: 5px;
    text-align: center;
    color: #40739e;
    margin-top: 30px;
}
.session_page_answer_button{
    background-color: #718093;
    padding-top: 10px;
    width: 90%;
    margin-top: 30px;
    height: 30px;
    margin-left: 5%;
    text-align: center;
    text-justify:auto;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
}
.session_page_stop_answer_button{
    background-color: #718093;
    padding-top: 10px;
    width: 90%;
    margin-top: 30px;
    height: 30px;
    margin-left: 5%;
    text-align: center;
    text-justify:auto;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
}
.session_page_answer_button:hover{
    background-color: #44bd32;
}
.session_page_stop_answer_button:hover{
    background-color: #c23616;
}
.session_page_answers_list{
    padding: 10px;
    overflow: scroll;
    height:  auto;
    margin-right: 20px;
    border: 2px solid #273c75;
    border-radius: 20px;
}
.session_page_answers_list_title{
    font-size: 20px;
    font-weight: bolder;
    color: #353b48;
}
.answer_container{
    padding: 5px;
    margin: 5px;
    width: 50%;
    border: 2px solid #273c75;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 20px;
    margin-left: 40px;
}
.answer{
    font-size: 15px;
    color: #718093;
}
.answer_container:hover{
    color: red;
}
.answer:hover{
    color:#e84118 ;
}
.session_page_submit_button_container{
    padding-top: 10px;
    margin-bottom: 0px;
}
.session_answers_submit_button{
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #40739e;
    cursor: pointer;
}
.session_answers_submit_button:hover{
    box-shadow: 0px 5px 50px #40739e;
}
.session_answers_go_home{
    padding-top: 10px;
    padding-lef: 25px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
.session_page_home_icon{
    font-size: 20px;
    margin-right: 10px;
}
.resultsContainer{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
}
.resultsHeaderContainer{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #2f3542;
    padding-bottom: 20px;
    border-bottom: 10px solid #3742fa;
}
.resultsHeader{
    font-weight: bolder;
    font-size: 35px;
    color: #dfe4ea;
    text-align: center;
}
.detailsContainer{
    position: absolute;
    top: 200px;
    left: 50px;
    right: 50px;
}
.detailsSubContainer1{
    background-color: #00b894;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.detailsSubContainer2{
    background-color: #6c5ce7;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.detailsSubContainer3{
    background-color: #2ed573;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.detailsHeader{
    font-size: 25px;
    margin-left: 40px;
    font-weight: bolder;
    color: white;
}
.details{
    font-size: 18px;
    margin-left: 200px;
    color: white;
}
.session_results_go_home{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-top: 10px;
    padding-lef: 25px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    color: green;
}
.session_results_home_icon{
    color: green;
    font-size: 20px;
    margin-right: 10px;
}
.loader{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 100px;
    padding-left: 00px;
    background-color: #353b48;
}
.loaderTitle{
    text-align: center;
    color: white;
}
@media only screen and (max-width: 1000px) {
    .sessionPageMainBody{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: grid;
        grid-template-rows: 90% 10%;
        background-color: #f5f6fa;
    }
    .player_container{
        width: 100%;
        height: 90%;
        padding-top: 10px;
        /*padding-bottom: 2%;*/
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        background-color: #f5f6fa;
    }
    .session_page_main_body{
        overflow: scroll;
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .session_answers_go_home{
        padding-top: 10px;
        padding-left: 10px;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 15px;
        color: #40739e;
    }
    .session_page_home_icon{
        font-size: 15px;
        margin-right: 10px;
        color: #40739e;
    }
    .reactPlayerContainer{
        width: 90%;
        height: 90%;
    }
    .session_page_answers{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        height:700px;
    }
    .session_page_answer_video{
        display: flex;
        flex-direction: column;
        grid-template-rows: unset;
    }
    .videoRecordPlayerContainer{
        width: 100%;
        margin: 0px;
        padding: 0px;

    }
    .recordPayer{
        width: 80%;
        margin-left: 10%;
        border-radius: 20px;
    }
    .session_page_record_button_container{
        display: unset;
        grid-template-columns: unset;
    }
    .session_page_answer_button{
        background-color: #718093;
        padding-top: 10px;
        width: 90%;
        margin-top: 10px;
        height: 30px;
        margin-left: 5%;
        text-align: center;
        text-justify:auto;
        font-size: 15px;
        color: white;
        cursor: pointer;
        border-radius: 50px;
    }
    .session_page_stop_answer_button{
        background-color: #718093;
        padding-top: 10px;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        margin-left: 5%;
        text-align: center;
        text-justify:auto;
        font-size: 15px;
        color: white;
        cursor: pointer;
        border-radius: 50px;
    }
    .session_page_answers_list{
        padding: 10px;
        overflow: scroll;
        height:  500px;
        width: 80%;
        margin-left: 10%;
        border: 2px solid #273c75;
        border-radius: 20px;
    }
    .reactPlayerContainer{
        width: 100%;
        /*margin-left: 10%;*/
        height: 100%;
        padding-bottom: 10px;
    }

}